@charset "UTF-8";

@font-face {
  font-family: "Geometria-Bold";
  font-display: swap;
  src: url("../fonts/Geometria-Bold.woff2") format("woff2"), url("../fonts/Geometria-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Geometria-Light";
  font-display: swap;
  src: url("../fonts/Geometria-Light.woff2") format("woff2"), url("../fonts/Geometria-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Geometria-Medium";
  font-display: swap;
  src: url("../fonts/Geometria-Medium.woff2") format("woff2"), url("../fonts/Geometria-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Geometria";
  font-display: swap;
  src: url("../fonts/Geometria.woff2") format("woff2"), url("../fonts/Geometria.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "KudryashevDisplay";
  font-display: swap;
  src: url("../fonts/KudryashevDisplay.woff2") format("woff2"), url("../fonts/KudryashevDisplay.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Rosanthie";
  font-display: swap;
  src: url("../fonts/Rosanthie.woff2") format("woff2"), url("../fonts/Rosanthie.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TTNormsPro-Medium";
  font-display: swap;
  src: url("../fonts/TTNormsPro-Medium.woff2") format("woff2"), url("../fonts/TTNormsPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "TTNormsPro-Regular";
  font-display: swap;
  src: url("../fonts/TTNormsPro-Regular.woff2") format("woff2"), url("../fonts/TTNormsPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  display: block;
}

._icon-long-right-arrow:before {
  content: "";
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
}

._icon-long-left-arrow:before {
  content: "";
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
}

._icon-round-table:before {
  content: "";
}

._icon-basket:before {
  content: "";
}

._icon-account:before {
  content: "";
}

._icon-search:before {
  content: "";
  position: relative;
  z-index: 10000;
}

._icon-guarantee:before {
  content: "";
}

._icon-d-printer:before {
  content: "";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 14px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Geometria";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Geometria";
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*
&::-webkit-scrollbar {
	display: none;
}
*/

body {
  color: #000;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1140px;
  margin: 0 auto;
}

.slider-arrow {
  background-color: #f5f5f5;
  color: #b8b8b8;
  padding: 20px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  font-size: 25px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.slider-arrow_prev {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.slider-arrow_next {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.btn {
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 45px;
  padding: 0px 30px;
  text-transform: uppercase;
  border: 3px solid #000;
  font-weight: 700;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btn._fw {
  width: 100%;
}

.btn_size {
  padding: 0px 70px;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
}

.select__title {
  color: #000;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  min-width: 146px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 11px;
  margin-left: 5px;
  height: 7px;
  background: url("../img/icons/select.svg") center/100% no-repeat;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  position: absolute;
  top: 20px;
  left: 0;
  min-width: 100%;
  background-color: #fff;
  font-size: 14px;
}

.select__option {
  cursor: pointer;
  padding: 5px 0px;
  margin: 0px 0px 0px 0px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
textarea:focus {
  outline: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  min-height: 20px;
  display: block;
  padding: 0px 20px;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
  padding-left: 30px;
  margin-bottom: 40px;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: #000 url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 14px;
  font-weight: 300;
  color: #000;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.options__input:checked + .options__text:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
}

.options__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.options__text:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 40px;
  line-height: 0.75;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.rating.rating_sending {
  opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
  cursor: pointer;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffd300;
}

.rating__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
}

.quantity {
  width: 88px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}

.quantity__button_plus::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.desc {
  color: #b8b8b8;
  line-height: 171.4285714286%;
}

.title {
  font-family: KudryashevDisplay;
  font-size: 40px;
  line-height: 137.5%;
  position: relative;
}

.title::before {
  content: "";
  position: absolute;
  font-family: Rosanthie;
  font-size: 154px;
  color: #ededed;
  -webkit-transform: rotate(-17.46deg);
      -ms-transform: rotate(-17.46deg);
          transform: rotate(-17.46deg);
}

.signature {
  font-family: Rosanthie;
  font-size: 154px;
  color: #ededed;
  -webkit-transform: rotate(-17.46deg);
      -ms-transform: rotate(-17.46deg);
          transform: rotate(-17.46deg);
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

._video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

._video video,
._video iframe,
._video object,
._video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

._more-content {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

._more-link {
  cursor: pointer;
}

._more-link span {
  font-style: normal;
}

._more-link span:first-child {
  display: block;
}

._more-link span:last-child {
  display: none;
}

._more-link._active span {
  font-style: normal;
}

._more-link._active span:first-child {
  display: none;
}

._more-link._active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.work {
  padding: 100px 0px;
}

.work__title {
  text-align: center;
  margin-bottom: 70px;
}

.work__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.work__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  margin-bottom: 40px;
}

.work__item {
  padding: 0px 10px;
}

.work__counter {
  font-family: KudryashevDisplay;
  font-size: 40px;
  color: #b8b8b8;
  margin-bottom: 20px;
}

.work__label {
  font-size: 18px;
  font-weight: 700px;
  margin-bottom: 25px;
}

.production {
  padding: 100px 0px;
}

.production__top {
  text-align: center;
  margin-bottom: 75px;
}

.production__body {
  margin-bottom: 200px;
}

.production__text {
  color: #b8b8b8;
}

.production__title {
  position: relative;
  max-width: 690px;
  margin: 0px auto 90px auto;
}

.production__title::before {
  content: "Production";
  top: 50px;
  right: -38px;
}

.production__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.production__wrapper {
  padding: 0px 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  max-height: 600px;
}

.production__main-image {
  max-width: 445px;
  padding-bottom: 100.53%;
}

.production__second-image {
  margin-top: -200px;
  margin-left: 200px;
  max-width: 338px;
  min-width: 150px;
  padding-bottom: 66.2%;
}

.production__info {
  padding: 0px 10px;
  max-width: 500px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.production__label {
  max-width: 450px;
  margin-bottom: 160px;
}

.production__label::before {
  content: "Materials";
  bottom: 0;
  left: 10px;
}

.production__desc {
  max-width: 410px;
}

.slider-production {
  max-width: 825px;
  margin: 0px auto;
  position: relative;
}

.slider-production__image {
  padding-bottom: 38.2%;
}

.slider-production__navigation .slider-arrow {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: 46%;
}

.slider-production__navigation .slider-arrow_prev {
  right: -33px;
}

.slider-production__navigation .slider-arrow_next {
  left: -33px;
}

.swiper-pagination-bullets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}

.swiper-pagination-bullet {
  cursor: pointer;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 27px;
          flex: 0 0 27px;
  height: 27px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2px 0px;
  background-color: transparent !important;
}

.swiper-pagination-bullet:not(:last-child) {
  margin-right: 5px;
}

.swiper-pagination-bullet::after {
  content: "";
  width: 11px;
  height: 11px;
  background-color: #d8d8d8;
  border-radius: 50%;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.swiper-pagination-bullet-active::after {
  background-color: #000;
}

.swiper-pagination-bullet-active::before {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.tabs-block__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -2px;
  margin-bottom: 88px;
}

.tabs-block__item {
  font-size: 16px;
  font-weight: 700;
  padding: 10px 10px;
  text-transform: uppercase;
  color: #b8b8b8;
  cursor: pointer;
}

.tabs-block__item._active {
  color: #000;
}

.tabs-block__body {
  padding: 20px 0px 0px 0px;
  position: relative;
}

.tabs-block__block {
  display: none;
}

.tabs-block__block._active {
  display: block;
}

.slider-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-tabs__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 90%;
          flex: 0 1 90%;
}

.slider-tabs__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-tabs__image {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 511px;
          flex: 0 1 511px;
  padding-bottom: 24.8%;
}

.slider-tabs__info {
  max-width: 385px;
  padding-left: 60px;
}

.slider-tabs__label {
  margin-bottom: 30px;
}

.slider-tabs__navigation {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 10%;
          flex: 0 1 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project {
  padding: 100px 0px;
}

.project__top {
  height: 682px;
  position: relative;
  margin-bottom: 90px;
}

.project__body {
  margin-bottom: 60px;
}

.project__background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.project__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.project__row:first-child {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project__row:last-child {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.project__info {
  max-width: 430px;
  position: relative;
}

.project__title {
  margin-bottom: 45px;
}

.project__title::before {
  content: "Cases";
  right: -30px;
  bottom: 20px;
}

.project__signature {
  position: absolute;
  top: 30px;
  right: -30px;
}

.project__desc {
  margin-bottom: 45px;
  max-width: 350px;
}

.feedback__item_one {
  padding-top: 100px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 370px;
          flex: 0 1 370px;
}

.feedback__item_one .feedback__image {
  padding-bottom: 141%;
}

.feedback__item_two {
  margin-top: -250px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 560px;
          flex: 0 1 560px;
}

.feedback__item_two .feedback__image {
  padding-bottom: 92.5%;
}

.feedback__item_free {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 370px;
          flex: 0 1 370px;
  margin-top: 60px;
}

.feedback__item_free .feedback__image {
  padding-bottom: 90%;
}

.feedback__item_four {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 370px;
          flex: 0 1 370px;
}

.feedback__item_four .feedback__image {
  padding-bottom: 141%;
}

.feedback__item_five {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 370px;
          flex: 0 1 370px;
  margin-top: 60px;
}

.feedback__item_five .feedback__image {
  padding-bottom: 125%;
}

.feedback__wrapper {
  position: relative;
}

.feedback__text {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: left top 0;
      -ms-transform-origin: left top 0;
          transform-origin: left top 0;
  position: absolute;
  right: -345px;
  bottom: -18px;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.feedback__text span {
  font-size: 14px;
  font-weight: 300;
  margin-left: 30px;
}

.bottom-project {
  margin-top: 60px;
}

.bottom-project__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.bottom-project__info {
  max-width: 340px;
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0px 10px;
}

.bottom-project__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 189px;
          flex: 0 1 189px;
  padding-bottom: 45.6%;
  padding: 0px 10px;
}

.bottom-project__title {
  margin-bottom: 40px;
}

.bottom-project__title::before {
  content: "Design";
  left: 0;
  bottom: -20px;
}

.bottom-project__signature {
  position: absolute;
  top: 30px;
  right: -20px;
}

.bottom-project__desc {
  margin-bottom: 60px;
}

.bottom-project__button {
  max-width: 306px;
}

.team {
  padding: 50px 0px;
}

.team__title {
  position: relative;
  max-width: 500px;
  margin: 0px auto 70px auto;
}

.team__title::before {
  content: "Team";
  bottom: 0;
  left: 0px;
}

.team__signature {
  position: absolute;
  bottom: -40px;
  right: 20px;
}

.slider-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-team__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}

.slider-team__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 407px;
          flex: 0 1 407px;
  padding-bottom: 31.58%;
}

.slider-team__info {
  padding-left: 70px;
}

.slider-team__title {
  margin-bottom: 30px;
}

.slider-team__desc {
  max-width: 306px;
}

.slider-team__counter {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
}

.slider-team__navigation {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-team__counter.swiper-pagination-fraction {
  font-size: 20px;
  color: #b8b8b8;
}

.create {
  padding: 80px 0px;
}

.create__background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.create__top {
  position: relative;
  height: 417px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 135px;
}

.create__text {
  color: #b8b8b8;
  font-size: 10px;
  text-align: center;
  margin-bottom: 30px;
}

.create__block {
  padding-top: 35px;
  position: relative;
  z-index: 10;
  min-height: 172px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 660px;
          flex: 0 1 660px;
  background-color: #fff;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
}

.create__block span {
  width: 100%;
  max-width: 100px;
  height: 4px;
  background-color: #b8b8b8;
}

.create__block span:not(:last-child) {
  margin: 0px 40px 0px 0px;
}

.create__block span:first-child {
  background-color: #000;
}

.create__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.create__subtitle {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 70px;
}

.create__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -10px;
}

.create__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 366px;
          flex: 0 1 366px;
  padding: 0px 10px;
}

.create__image {
  padding-bottom: 67.275%;
}

.create__label {
  margin-top: 45px;
  margin-bottom: 35px;
  font-size: 24px;
  font-weight: 700;
}

.create__desc {
  font-weight: 300;
  font-size: 14px;
  line-height: 171.4285714286%;
}

.create__button {
  max-width: 323px;
  margin: 75px auto 0px auto;
}

.main {
  padding: 120px 0px 60px 0px;
}

.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 70%;
          flex: 0 1 70%;
  position: relative;
}

.main__title {
  font-family: KudryashevDisplay;
  text-align: center;
  font-size: 152px;
  font-size: 152px;
  max-width: 713px;
  position: relative;
  margin-bottom: 70px;
}

.main__title span {
  margin-left: -70px;
  display: block;
}

.main__title::before {
  content: "Design";
  position: absolute;
  bottom: -70px;
  right: 210px;
  font-family: Rosanthie;
  font-size: 154px;
  color: #ededed;
  -webkit-transform: rotate(-17.46deg);
      -ms-transform: rotate(-17.46deg);
          transform: rotate(-17.46deg);
}

.main__subtitle {
  font-size: 20px;
  margin-top: -35px;
  margin-left: 90px;
  margin-bottom: 55px;
  position: relative;
  z-index: 10;
}

.main__desc {
  position: relative;
  z-index: 10;
}

.main__look {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}

.main__image {
  position: absolute;
  right: 80px;
  bottom: -40px;
}

.main__video {
  width: 100%;
  text-align: right;
}

.main__text {
  font-weight: 600;
  max-width: 206px;
  margin: 20px 0px 0px auto;
}

.main__text span {
  text-align: left;
  width: 100%;
  display: inline-block;
  margin-top: 10px;
}

.benefits {
  padding: 80px 0px;
}

.benefits__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 50px;
}

.benefits__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 265px;
          flex: 0 1 265px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefits__item:not(:last-child) {
  margin: 0px 0px 20px 0px;
}

.benefits__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.benefits__column-left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 625px;
          flex: 0 1 625px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefits__column-right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 400px;
          flex: 0 1 400px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefits__info {
  padding-left: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 350px;
          flex: 1 1 350px;
}

.benefits__title {
  margin-bottom: 40px;
}

.benefits__text {
  font-size: 20px;
  margin-bottom: 50px;
}

.benefits__image {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 212px;
          flex: 0 1 212px;
  padding-bottom: 75%;
}

.benefits__questions .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.benefits__questions .form__label {
  font-weight: 600;
  margin-bottom: 40px;
}

.benefits__button {
  max-width: 255px;
}

.item-benefits__info {
  margin-top: 15px;
  text-align: center;
  line-height: 140%;
}

.features {
  padding: 80px 0px;
}

.features__text {
  text-align: center;
  color: #b8b8b8;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features__title {
  text-align: center;
  max-width: 860px;
  margin-bottom: 40px;
  margin: 0px auto 70px auto;
}

.features__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 50px;
}

.features__row_two .features__info {
  padding-left: 0;
  padding-right: 20px;
}

.features__row_two .features__label {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.features__row_two .features__desc {
  margin-left: 0;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.features__row_two .features__image {
  padding-bottom: 126.3%;
}

.features__row_two .features__item {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 540px;
          flex: 0 1 540px;
}

.features__row_two .features__button {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.features__row_free {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.features__row_free .features__image {
  padding-bottom: 99.2%;
}

.features__row_four .features__image {
  padding-bottom: 60.2%;
}

.features__row_four .features__label {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.features__row_four .features__desc {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.features__row_four .features__info {
  padding-left: 0;
  padding-right: 20px;
}

.features__row_five {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-bottom: 0;
}

.features__row_five .features__image {
  padding-bottom: 73.2%;
}

.features__item {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 475px;
          flex: 0 1 475px;
}

.features__image {
  padding-bottom: 70.3%;
}

.features__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features__label {
  font-size: 24px;
  line-height: 141.6666666667%;
  font-weight: 600;
  margin-bottom: 35px;
}

.features__desc {
  margin-left: 170px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  background-color: #f9f9f9;
  height: 80px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.header__container {
  position: relative;
}

.header__top {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.header__info {
  padding-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
}

.header__local-label {
  font-weight: 500;
  margin-bottom: 5px;
}

.header__local-desc {
  font-size: 10px;
  color: #b8b8b8;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__contacts-tel {
  color: #000;
  font-weight: 500;
  margin-bottom: 5px;
}

.header__contacts-desc {
  font-size: 10px;
  color: #b8b8b8;
}

.header__search {
  position: relative;
  z-index: 100;
  text-align: center;
  padding: 0px 10px;
  cursor: pointer;
}

.header__search .input {
  margin-right: 10px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 100%;
  z-index: 99;
  min-height: 30px;
  width: 0;
  -webkit-transition: width 0.3s ease 0s;
  -o-transition: width 0.3s ease 0s;
  transition: width 0.3s ease 0s;
}

.header__search .input._active {
  width: 300px;
  border: 1px solid #000;
  background-color: #f9f9f9;
}

.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  padding-left: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__login {
  font-size: 20px;
  color: #000;
}

.select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  position: relative;
  z-index: 102;
}

.select__label {
  font-size: 10px;
  color: #b8b8b8;
  margin-top: 5px;
}

.menu__body {
  padding: 5px;
  background-color: #f9f9f9;
  position: relative;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.menu__link {
  font-size: 16px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
}

.basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.basket__icon {
  margin-right: 15px;
  font-size: 20px;
  position: relative;
}

.basket__counter {
  position: absolute;
  right: -8px;
  bottom: 8px;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #b8b8b8;
  font-size: 10px;
  font-weight: 600;
}

.basket__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.basket__label {
  font-size: 10px;
  color: #b8b8b8;
  margin-bottom: 5px;
}

.basket__price {
  font-weight: 600;
}

.icon-menu {
  position: relative;
  width: 33px;
  height: 25px;
  cursor: pointer;
  z-index: 101;
}

.icon-menu span {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  top: calc(50% - 1px);
  left: 0px;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #000;
}

.icon-menu span:first-child {
  top: 0px;
}

.icon-menu span:last-child {
  top: auto;
  bottom: 0px;
}

.icon-menu._active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.icon-menu._active span:first-child {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: calc(50% - 1px);
}

.icon-menu._active span:last-child {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: calc(50% - 1px);
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (min-width: 767.98px) {
  .slider-arrow:hover {
    color: #000;
  }

  .work__item {
    max-width: 330px;
  }

  .tabs-block__item:not(:last-child) {
    margin: 0px 90px 0px 0px;
  }
}

@media (min-width: 991.98px) {
  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .features__row_two {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }

  .features__row_two .features__info {
    padding-top: 100px;
    max-width: 480px;
  }

  .features__row_two .features__label {
    max-width: 340px;
  }

  .features__row_two .features__desc {
    max-width: 350px;
    margin-bottom: 100px;
  }

  .features__row_free .features__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 475px;
            flex: 0 1 475px;
  }

  .features__row_free .features__desc {
    max-width: 350px;
  }

  .features__row_free .features__info {
    padding-bottom: 40px;
  }

  .features__row_four .features__item {
    max-width: 475px;
  }

  .features__row_four .features__label {
    max-width: 340px;
  }

  .features__row_four .features__desc {
    max-width: 350px;
    margin-left: 50px;
  }

  .features__label {
    max-width: 340px;
  }

  .features__desc {
    max-width: 321px;
  }

  .menu__body {
    position: relative;
    top: -250px;
    -webkit-transition: top 0.5s ease 0s;
    -o-transition: top 0.5s ease 0s;
    transition: top 0.5s ease 0s;
  }

  .menu__body._active {
    top: 0;
  }

  .menu__wrapper {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

@media (min-width: 992px) {
  .select__option:hover {
    background: #d9d9d9;
  }

  .checkbox a:hover {
    text-decoration: none;
  }
}

@media (min-width: 1152px) {
  .features__row_free {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-top: -150px;
  }
}

@media (max-width: 1152px) {
  ._container {
    max-width: 970px;
  }

  .feedback__wrapper {
    overflow: hidden;
  }

  .feedback__text {
    right: -300px;
    bottom: -30px;
    background-color: #fff;
    padding: 10px;
  }

  .main__look {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .benefits__body {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .benefits__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .benefits__column-left {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin-bottom: 20px;
  }

  .benefits__image {
    padding-bottom: 25%;
    margin-bottom: 10px;
  }
}

@media (max-width: 1140px) {
  .title {
    font-size: calc(25px + 15 * ((100vw - 320px) / 820));
  }

  .title::before {
    font-size: calc(100px + 54 * ((100vw - 320px) / 820));
  }

  .feedback__text {
    font-size: calc(12px + 6 * ((100vw - 320px) / 820));
  }

  .main__title {
    font-size: calc(60px + 92 * ((100vw - 320px) / 820));
  }

  .main__title::before {
    font-size: calc(100px + 54 * ((100vw - 320px) / 820));
  }

  .main__subtitle {
    font-size: calc(16px + 4 * ((100vw - 320px) / 820));
  }

  .benefits__text {
    font-size: calc(18px + 2 * ((100vw - 320px) / 820));
  }

  .features__label {
    font-size: calc(16px + 8 * ((100vw - 320px) / 820));
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }

  .select__title {
    font-size: 18px;
  }

  .select__options {
    font-size: 18px;
  }

  .work__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .production__second-image img {
    -o-object-fit: contain;
       object-fit: contain;
  }

  .slider-production__navigation {
    display: none;
  }

  .slider-production__navigation .slider-arrow {
    padding: 10px;
  }

  .feedback__item_one {
    padding-top: 0;
    margin-bottom: 50px;
  }

  .feedback__item_two {
    margin-top: 0;
    margin-bottom: 50px;
  }

  .feedback__item_free {
    margin-left: 50px;
  }

  .feedback__item_five {
    margin-left: 50px;
  }

  .slider-team__slide {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .slider-team__navigation {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 30%;
            flex: 0 1 30%;
  }

  .create__top {
    margin-bottom: 90px;
  }

  .create__block {
    padding-top: 20px;
  }

  .create__pagination {
    margin-bottom: 20px;
  }

  .create__subtitle {
    margin-bottom: 30px;
  }

  .main__info {
    position: relative;
    z-index: 10;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .main__subtitle {
    margin-bottom: 10px;
    margin-top: 0;
    text-align: right;
  }

  .main__desc {
    display: none;
  }

  .features__row_two .features__desc {
    margin-bottom: 20px;
  }

  .features__info {
    padding-left: 20px;
  }

  .features__desc {
    margin-left: 0;
  }

  .header {
    height: 60px;
  }

  .header__container .header__info {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 80%;
            flex: 0 1 80%;
  }

  .header__container .header__actions {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 20%;
            flex: 0 1 20%;
  }

  .header__container .header__top {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header__info {
    display: none;
  }

  .header__search {
    display: none;
  }

  .header__actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 0;
    margin-top: 30px;
  }

  .header__logo {
    margin-bottom: 50px;
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    overflow: auto;
    -webkit-transition: top 0.3s ease 0s;
    -o-transition: top 0.3s ease 0s;
    transition: top 0.3s ease 0s;
    background-color: #f9f9f9;
    z-index: 100;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 50px;
  }

  .menu__body._active {
    top: 0;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 60px;
    z-index: 10;
    background-color: #f9f9f9;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }

  .menu__list li {
    margin-bottom: 45px;
  }
}

@media (max-width: 991.98px) and (max-width: 767.98px) {
  .project__row:first-child {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 991.98px) and (max-width: 1140px) {
  .feedback__item_one {
    margin-bottom: calc(20px + 30 * ((100vw - 320px) / 820));
  }

  .feedback__item_two {
    margin-bottom: calc(20px + 30 * ((100vw - 320px) / 820));
  }

  .feedback__item_free {
    margin-left: calc(20px + 30 * ((100vw - 320px) / 820));
  }

  .feedback__item_five {
    margin-left: calc(20px + 30 * ((100vw - 320px) / 820));
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }

  .checkbox {
    margin-bottom: 20px;
  }

  .work {
    padding: 40px 0px;
  }

  .work__title {
    margin-bottom: 30px;
  }

  .production {
    padding: 40px 0px;
  }

  .production__top {
    margin-bottom: 40px;
  }

  .production__body {
    margin-bottom: 50px;
  }

  .production__title {
    margin-bottom: 50px;
  }

  .production__title::before {
    left: 0;
  }

  .production__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .production__label {
    margin-bottom: 60px;
  }

  .tabs-block__nav {
    margin-bottom: 30px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .tabs-block__body {
    padding-top: 0;
  }

  .slider-tabs__slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .slider-tabs__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 200px;
            flex: 0 1 200px;
    max-width: 250px;
    margin-bottom: 10px;
  }

  .slider-tabs__info {
    padding-left: 0;
    max-width: 250px;
  }

  .slider-tabs__label {
    margin-bottom: 20px;
  }

  .slider-tabs__navigation {
    position: absolute;
    top: 0;
    right: 0;
  }

  .project {
    padding: 40px 0px;
  }

  .project__top {
    display: none;
  }

  .project__title::before {
    left: 0;
  }

  .project__desc {
    margin-bottom: 20px;
  }

  .feedback__text {
    display: none;
  }

  .bottom-project__info {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .bottom-project__image {
    display: none;
  }

  .bottom-project__desc {
    margin-bottom: 30px;
  }

  .team {
    padding: 40px 0px 20px 0px;
  }

  .team__title {
    margin-bottom: 45px;
  }

  .slider-team__image {
    margin-bottom: 10px;
  }

  .slider-team__image img {
    -o-object-fit: contain;
       object-fit: contain;
  }

  .slider-team__info {
    padding-left: 0px;
    text-align: center;
  }

  .slider-team__title {
    margin-bottom: 20px;
  }

  .create {
    padding: 40px 0px;
  }

  .create__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .create__label {
    margin: 20px 0px 10px;
  }

  .create__desc {
    margin-bottom: 20px;
  }

  .create__button {
    margin-top: 30px;
  }

  .main {
    padding: 80px 0px 40px 0px;
  }

  .main__title::before {
    left: 0;
  }

  .benefits {
    padding: 40px 0px;
  }

  .benefits__column-left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .benefits__column-right {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }

  .benefits__info {
    padding-left: 10px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }

  .benefits__title {
    margin-bottom: 20px;
  }

  .benefits__text {
    margin-bottom: 20px;
  }

  .benefits__image {
    max-width: 200px;
  }

  .benefits__questions .form__label {
    margin-bottom: 20px;
  }

  .features {
    padding: 40px 0px;
  }

  .features__title {
    margin-bottom: 30px;
  }

  .features__row {
    margin-bottom: 30px;
  }

  .features__item {
    max-width: 150px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }

  .features__info {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }

  .features__label {
    margin-bottom: 10px;
  }

  .header__login {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .menu__link {
    font-size: 18px;
  }

  .icon-menu {
    position: absolute;
    right: 15px;
    top: 15px;
  }
}

@media (max-width: 479.98px) {
  .slider-arrow {
    padding: 10px;
  }

  .work__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin-bottom: 20px;
  }

  .work__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .slider-team__counter {
    display: none;
  }

  .features__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .features__row_two {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .features__row_two .features__info {
    padding-right: 0;
  }

  .features__row_two .features__image {
    padding-bottom: 70%;
  }

  .features__row_two .features__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }

  .features__row_free {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .features__row_free .features__image {
    padding-bottom: 70%;
  }

  .features__row_four {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .features__row_four .features__info {
    padding-right: 0;
  }

  .features__row_five {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .features__item {
    margin-bottom: 20px;
  }

  .features__info {
    padding-left: 0;
  }
}

@media (any-hover: hover) {
  .btn:hover {
    background-color: #b8b8b8;
    color: #f9f9f9;
  }
}